openapi: 3.0.3
info:
  title: SAP S/4HANA Integration API
  description: |
    API specifications for extracting financial and operational data 
    from SAP S/4HANA for integration with Zetheta FinSight.
    
    ## Source Systems
    - SAP S/4HANA 2023 FPS02
    - ODP (Operational Data Provisioning) Framework
    - CDS Views for data extraction
    
    ## Authentication
    - OAuth 2.0 Client Credentials Flow
    - RFC Connection with SAP Service Account
    
    ## Rate Limiting
    - Max 50 concurrent RFC connections
    - ODP extractions limited to once every 30 minutes per provider
  version: 1.0.0
  contact:
    name: Zetheta Integration Team
    email: integration@zetheta.com

servers:
  - url: https://sap-odp.meridian.co.in:443/sap/odp
    description: SAP ODP Production Server (Pune DC)
  - url: https://sap-odp-qa.meridian.co.in:443/sap/odp
    description: SAP ODP QA Server

tags:
  - name: General Ledger
    description: GL Journal Entry Extraction
  - name: Accounts Payable
    description: Vendor and AP Open Items
  - name: Accounts Receivable
    description: Customer and AR Open Items
  - name: Cost Accounting
    description: Cost Centre and Profit Centre Data
  - name: Procurement
    description: Purchase Orders
  - name: Sales
    description: Sales Orders
  - name: Fixed Assets
    description: Asset Master and Depreciation
  - name: Banking
    description: Bank Statements
  - name: Material Management
    description: Material Ledger and Inventory
  - name: Budget
    description: Budget vs Actual

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.meridian.co.in/oauth2/token
          scopes:
            read:gl: Read General Ledger data
            read:ap: Read Accounts Payable data
            read:ar: Read Accounts Receivable data
            read:cost: Read Cost Accounting data
            read:procurement: Read Procurement data
            read:sales: Read Sales data
            read:assets: Read Fixed Assets data
            read:bank: Read Banking data
            read:materials: Read Material Management data
            read:budget: Read Budget data

    RFCConnection:
      type: apiKey
      in: header
      name: X-RFC-System
      description: |
        SAP RFC Connection parameters:
        - ASHOST: sap-prod.meridian.co.in
        - SYSNR: 00
        - CLIENT: 100
        - LANG: EN

  parameters:
    DeltaToken:
      name: deltaToken
      in: query
      description: ODP delta token for incremental extraction
      schema:
        type: string
        example: "20260328_000001_001"
    CompanyCode:
      name: companyCode
      in: query
      description: SAP Company Code (MC01, MC02, MC03)
      schema:
        type: string
        enum: [MC01, MC02, MC03]
        example: MC01
    FiscalYear:
      name: fiscalYear
      in: query
      description: Fiscal Year (YYYY)
      schema:
        type: string
        pattern: ^20[0-9]{2}$
        example: "2026"
    PostingPeriod:
      name: postingPeriod
      in: query
      description: Posting Period (001-016)
      schema:
        type: string
        pattern: ^(001|002|003|004|005|006|007|008|009|010|011|012|013|014|015|016)$
        example: "003"
    Limit:
      name: limit
      in: query
      description: Maximum number of records to return
      schema:
        type: integer
        minimum: 1
        maximum: 5000
        default: 1000
    Offset:
      name: offset
      in: query
      description: Pagination offset
      schema:
        type: integer
        minimum: 0
        default: 0

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
            message:
              type: string
              description: Human readable error message
            details:
              type: array
              items:
                type: string
              description: Additional error details
            timestamp:
              type: string
              format: date-time
              description: Error timestamp
      required:
        - error

    JournalEntry:
      type: object
      properties:
        documentId:
          type: string
          description: SAP Document Number (BUKRS-GJAHR-BELNR)
          example: "MC01-2026-0000012345"
        postingDate:
          type: string
          format: date
          description: Posting Date (BUDAT)
          example: "2026-03-28"
        documentDate:
          type: string
          format: date
          description: Document Date (BLDAT)
          example: "2026-03-28"
        documentType:
          type: string
          description: Document Type (BLART)
          enum: [SA, RV, KR, KA, WA, AB, DZ, KZ]
          example: "SA"
        companyCode:
          type: string
          description: Company Code (BUKRS)
          enum: [MC01, MC02, MC03]
          example: MC01
        fiscalYear:
          type: string
          pattern: ^20[0-9]{2}$
          description: Fiscal Year (GJAHR)
          example: "2026"
        postingPeriod:
          type: string
          pattern: ^(001|002|003|004|005|006|007|008|009|010|011|012|013|014|015|016)$
          description: Posting Period (MONAT)
          example: "003"
        glAccount:
          type: string
          description: G/L Account (RACCT)
          example: "400000"
        amountLC:
          type: number
          format: double
          description: Amount in Local Currency (HSL)
          example: 15000.00
        amountTC:
          type: number
          format: double
          description: Amount in Transaction Currency (WSL)
          example: 15000.00
        localCurrency:
          type: string
          pattern: ^[A-Z]{3}$
          description: Local Currency (RHCUR)
          example: "INR"
        transactionCurrency:
          type: string
          pattern: ^[A-Z]{3}$
          description: Transaction Currency (RWCUR)
          example: "INR"
        exchangeRate:
          type: number
          format: double
          description: Exchange Rate (UKURS)
          example: 1.0000
        costCentre:
          type: string
          description: Cost Centre (KOSTL)
          example: "1000"
        profitCentre:
          type: string
          description: Profit Centre (PRCTR)
          example: "1000"
        segment:
          type: string
          description: Segment (SEGMENT)
          example: "01"
        referenceDocument:
          type: string
          description: Reference Document (XBLNR)
          example: "PO-2026-001234"
        userName:
          type: string
          description: User Name (USNAM)
          example: "FINANCE"
        isReversal:
          type: boolean
          description: Reversal Flag (STBLG populated)
          example: false
      required:
        - documentId
        - postingDate
        - companyCode
        - glAccount
        - amountLC

    Vendor:
      type: object
      properties:
        vendorId:
          type: string
          description: Vendor Number (LIFNR)
          example: "V0001234"
        vendorName:
          type: string
          description: Vendor Name (NAME1)
          example: "ABC Suppliers Pvt Ltd"
        country:
          type: string
          description: Country (LAND1)
          example: "IN"
        city:
          type: string
          description: City (ORT01)
          example: "Mumbai"
        gstNumber:
          type: string
          pattern: ^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}[Z]{1}[0-9A-Z]{1}$
          description: GST Number (STCD1)
          example: "27AABCU1234D1Z1"
        companyCode:
          type: string
          description: Company Code (BUKRS)
          enum: [MC01, MC02, MC03]
          example: MC01
        accountGroup:
          type: string
          description: Account Group (KTOKK)
          example: "001"
        reconciliationAccount:
          type: string
          description: Reconciliation Account (AKONT)
          example: "200000"
        termsOfPayment:
          type: string
          description: Terms of Payment (ZTERM)
          example: "0001"

    Customer:
      type: object
      properties:
        customerId:
          type: string
          description: Customer Number (KUNNR)
          example: "C0001234"
        customerName:
          type: string
          description: Customer Name (NAME1)
          example: "XYZ Trading Ltd"
        country:
          type: string
          description: Country (LAND1)
          example: "IN"
        city:
          type: string
          description: City (ORT01)
          example: "Delhi"
        gstNumber:
          type: string
          pattern: ^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}[Z]{1}[0-9A-Z]{1}$
          description: GST Number (STCD1)
          example: "07AABCU1234D1Z1"
        companyCode:
          type: string
          description: Company Code (BUKRS)
          enum: [MC01, MC02, MC03]
          example: MC01
        reconciliationAccount:
          type: string
          description: Reconciliation Account (AKONT)
          example: "100000"
        creditLimit:
          type: number
          format: double
          description: Credit Limit
          example: 500000.00
        termsOfPayment:
          type: string
          description: Terms of Payment (ZTERM)
          example: "0002"

    PurchaseOrder:
      type: object
      properties:
        purchaseOrderId:
          type: string
          description: PO Number (EBELN)
          example: "PO-2026-001234"
        companyCode:
          type: string
          description: Company Code (BUKRS)
          enum: [MC01, MC02, MC03]
          example: MC01
        vendorId:
          type: string
          description: Vendor Number (LIFNR)
          example: "V0001234"
        documentType:
          type: string
          description: Document Type (BSART)
          example: "NB"
        creationDate:
          type: string
          format: date
          description: Creation Date (AEDAT)
          example: "2026-03-28"
        materialNumber:
          type: string
          description: Material Number (MATNR)
          example: "M-001234"
        plant:
          type: string
          description: Plant (WERKS)
          example: "PL01"
        quantity:
          type: number
          format: double
          description: Order Quantity (MENGE)
          example: 100
        unitOfMeasure:
          type: string
          description: Unit of Measure (MEINS)
          example: "EA"
        netPrice:
          type: number
          format: double
          description: Net Price (NETPR)
          example: 150.00
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          description: Currency (WAERK)
          example: "INR"

    SalesOrder:
      type: object
      properties:
        salesOrderId:
          type: string
          description: Sales Order Number (VBELN)
          example: "SO-2026-001234"
        companyCode:
          type: string
          description: Company Code
          example: MC01
        customerId:
          type: string
          description: Customer Number (KUNNR)
          example: "C0001234"
        orderType:
          type: string
          description: Order Type (AUART)
          example: "OR"
        creationDate:
          type: string
          format: date
          description: Creation Date (ERDAT)
          example: "2026-03-28"
        materialNumber:
          type: string
          description: Material Number (MATNR)
          example: "M-001234"
        quantity:
          type: number
          format: double
          description: Order Quantity (KWMENG)
          example: 50
        netAmount:
          type: number
          format: double
          description: Net Amount (NETWR)
          example: 7500.00
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          description: Currency (WAERK)
          example: "INR"

    BankStatement:
      type: object
      properties:
        statementId:
          type: string
          description: Statement ID (KUESSION)
          example: "BS-2026-001234"
        bankAccount:
          type: string
          description: Bank Account (KONTS)
          example: "1234567890"
        statementDate:
          type: string
          format: date
          description: Statement Date
          example: "2026-03-28"
        openingBalance:
          type: number
          format: double
          description: Opening Balance
          example: 100000.00
        closingBalance:
          type: number
          format: double
          description: Closing Balance
          example: 95000.00
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          description: Currency
          example: "INR"
        items:
          type: array
          items:
            type: object
            properties:
              itemId:
                type: string
                description: Item ID (AZESSION)
              amount:
                type: number
                format: double
                description: Amount (KWBTR)
              valueDate:
                type: string
                format: date
                description: Value Date (VALUT)
              postingDate:
                type: string
                format: date
                description: Posting Date
              reference:
                type: string
                description: Reference (VBLNR)
              clearingStatus:
                type: string
                enum: [CLEARED, OPEN]

    Asset:
      type: object
      properties:
        assetId:
          type: string
          description: Asset Number (ANLN1-ANLN2)
          example: "A-001234-01"
        companyCode:
          type: string
          description: Company Code (BUKRS)
          enum: [MC01, MC02, MC03]
          example: MC01
        assetClass:
          type: string
          description: Asset Class (ANLKL)
          example: "100"
        description:
          type: string
          description: Asset Description (TXT50)
          example: "CNC Machine"
        acquisitionDate:
          type: string
          format: date
          description: Acquisition Date (ZUGDT)
          example: "2025-01-01"
        acquisitionValue:
          type: number
          format: double
          description: Acquisition Value
          example: 5000000.00
        accumulatedDepreciation:
          type: number
          format: double
          description: Accumulated Depreciation
          example: 500000.00
        netBookValue:
          type: number
          format: double
          description: Net Book Value
          example: 4500000.00
        costCentre:
          type: string
          description: Cost Centre (KOSTL)
          example: "1000"
        depreciationMethod:
          type: string
          description: Depreciation Method
          example: "STL"  # Straight Line

    CostCentre:
      type: object
      properties:
        costCentreId:
          type: string
          description: Cost Centre ID (KOSTL)
          example: "1000"
        controllingArea:
          type: string
          description: Controlling Area (KOKRS)
          example: "1000"
        companyCode:
          type: string
          description: Company Code (BUKRS)
          enum: [MC01, MC02, MC03]
          example: MC01
        name:
          type: string
          description: Cost Centre Name (KTEXT)
          example: "Production Department"
        longText:
          type: string
          description: Long Text (LTEXT)
          example: "Main Production Department"
        hierarchy:
          type: object
          properties:
            level1:
              type: string
              description: Level 1 (Parent)
            level2:
              type: string
              description: Level 2
            level3:
              type: string
              description: Level 3
            level4:
              type: string
              description: Level 4
            level5:
              type: string
              description: Level 5
            level6:
              type: string
              description: Level 6
            level7:
              type: string
              description: Level 7 (Leaf)
        responsiblePerson:
          type: string
          description: Responsible Person (VERAK)
          example: "MANAGER01"

    ProfitCentre:
      type: object
      properties:
        profitCentreId:
          type: string
          description: Profit Centre ID (PRCTR)
          example: "1000"
        controllingArea:
          type: string
          description: Controlling Area (KOKRS)
          example: "1000"
        companyCode:
          type: string
          description: Company Code (BUKRS)
          enum: [MC01, MC02, MC03]
          example: MC01
        name:
          type: string
          description: Profit Centre Name (KTEXT)
          example: "Automotive Division"
        longText:
          type: string
          description: Long Text (LTEXT)
          example: "Automotive Components Division"
        segment:
          type: string
          description: Segment (SEGMENT)
          example: "01"
        hierarchy:
          type: object
          properties:
            level1:
              type: string
            level2:
              type: string
            level3:
              type: string

    Material:
      type: object
      properties:
        materialId:
          type: string
          description: Material Number (MATNR)
          example: "M-001234"
        plant:
          type: string
          description: Plant (WERKS)
          example: "PL01"
        storageLocation:
          type: string
          description: Storage Location (LGORT)
          example: "001"
        valuationClass:
          type: string
          description: Valuation Class (BWTAR)
          example: "3000"
        priceControl:
          type: string
          description: Price Control (VPRSV)
          enum: [S, V]
          example: "S"
        movingAveragePrice:
          type: number
          format: double
          description: Moving Average Price (VERPR)
          example: 150.00
        standardPrice:
          type: number
          format: double
          description: Standard Price (STPRS)
          example: 145.00
        totalStock:
          type: number
          format: double
          description: Total Stock (LBKUM)
          example: 1000
        totalValue:
          type: number
          format: double
          description: Total Value (SALK3)
          example: 150000.00
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          description: Currency
          example: "INR"

    Budget:
      type: object
      properties:
        budgetId:
          type: string
          description: Budget ID
          example: "BUD-2026-1000"
        costCentreId:
          type: string
          description: Cost Centre ID (KOSTL)
          example: "1000"
        costElement:
          type: string
          description: Cost Element (KSTAR)
          example: "400000"
        fiscalYear:
          type: string
          pattern: ^20[0-9]{2}$
          description: Fiscal Year (GJAHR)
          example: "2026"
        period:
          type: string
          pattern: ^(001|002|003|004|005|006|007|008|009|010|011|012|013|014|015|016)$
          description: Posting Period
          example: "003"
        budgetAmount:
          type: number
          format: double
          description: Budget Amount (WKGxxx)
          example: 500000.00
        actualAmount:
          type: number
          format: double
          description: Actual Amount
          example: 450000.00
        variance:
          type: number
          format: double
          description: Variance (Budget - Actual)
          example: 50000.00
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          description: Currency
          example: "INR"
        version:
          type: string
          description: Budget Version (VERSN)
          example: "001"